@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://use.typekit.net/yka6cyh.css");

html,
body {
  overflow-x: hidden;
}
body {
  position: relative;
}

h1 {
  font-family: "owners-wide", sans-serif;
  font-weight: 700;
  font-style: normal;
}

Copy code .w-fit {
  animation: fade-in 1s ease-out forwards;
}

@keyframes fade-in {
  from {
    transform: translateY(50%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@layer base {
  .font-outline-2 {
    -webkit-text-stroke: 2px black;
  }
  .font-outline-4 {
    -webkit-text-stroke: 4px black;
  }
}

@layer utilities {
  .snap {
    scroll-snap-type: var(--scroll-snap-direction) var(--scroll-snap-constraint);
  }
  .snap-y {
    --scroll-snap-direction: y;
  }
  .snap-mandatory {
    --scroll-snap-constraint: mandatory;
  }
  .snap-start {
    scroll-snap-align: start;
  }
}
.slick-prev:before,
.slick-next:before {
  color: rgb(109, 145, 255) !important;
  font-size: 30px !important;
  text-align: left;
}
