@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://use.typekit.net/yka6cyh.css");


h1 {
  font-family: "owners-xxwide", sans-serif;
  font-weight: 700;
  font-style: normal;
}

@keyframes slide {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}
